@{
    ViewData["Title"] = "Home Page";
    var name = "Shrikant";
    var age = 23;
    int[] ages = new int[10];

    // for (int i = 0; i < 10; i++)
    // {
    //     ages[i] = age++;
    // }
    if(age>18)
    {
        <h1>@name You are Eligible For Voting! Your age is : @age </h1>
    }else{
        <h1>@name You are Not Eligible For Voting! Your age is : @age </h1>
    }
}

@* <div class="text-center">
    <h1 class="display-4">Welcome, @name!</h1>

    <h1>@DateTime.Now</h1>
    <h1>@DateTime.Now.Year</h1>
    <h1>Age: @age</h1>

    <h2>Age After 10 years:</h2>
 
        @foreach (int value in ages)
        {
            <h4>@value</h4>
        }
  
</div>
 *@