<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:coral;"> 

        <h4>Times Of India</h4>
        <nav>Menu goes here</nav>

    </header>

    <main>
        @RenderBody()

    </main>
   <footer style="background-color:aqua">
       <p>Owner :- Shrikant Sarode</p>
   </footer>
  
</body>
</html>
